table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.cursor-pointer {
  cursor: pointer !important;
}

ngx-dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px dashed #ddd;
  border-radius: 4px;
  padding: 8px;
  cursor: default !important;
}

ngx-dropzone-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ngx-dropzone-label i {
  cursor: pointer;
}

.fa-upload {
  font-size: 20px;
}

ngx-dropzone {
  border: none;
  padding: 0;
}

.data-align {
  vertical-align: middle;
  text-align: center;
}

.flag {
  width: 25px;
  opacity: 0.5;
  margin-left: 0.5rem;
  cursor: pointer;

}

.flag.active {
  opacity: 1;
}

/* .upload-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
} */

/* .upload-icon span {
  font-size: 14px;
} */
