<div class="mt-4">
  <button
    type="button"
    class="btn btn-success btn-sm py-2 px-3 ms-auto d-block"
    (click)="addSkin()"
  >
    Add New Skin
  </button>
</div>

<form [formGroup]="skinForm" class="mt-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name <span class="text-danger">*</span></th>
        <th>CSS File <span class="text-danger">*</span></th>
        <th>JSON Mobile File</th>
        <th>Body Main Class <span class="text-danger">*</span></th>
        <th class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody formArrayName="assets">
      <tr
        *ngFor="let skin of assets.controls; let i = index"
        [formGroupName]="i"
      >
        <td>
          <input
            [formControl]="getNameControl(skin, isEnglish)"
            class="form-control"
          />
          <img
            src="assets/USA.png"
            alt="USA flag"
            class="flag"
            [class.active]="isEnglish"
            (click)="onChangeLanguage()"
          />
          <img
            src="assets/SA.png"
            alt="SA flag"
            class="flag"
            [class.active]="!isEnglish"
            (click)="onChangeLanguage()"
          />
        </td>
        <td class="data-align">
          <ngx-dropzone
            accept=".css"
            (change)="onFilesAdded($event.addedFiles, i, 'cssFile')"
            [id]="'cssFile' + i"
          >
            <ngx-dropzone-label
              class="d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-upload ms-auto d-block order-2"></i>
              <span
                *ngIf="assets.at(i).get('fileName')?.value"
                class="order-1"
                >{{ assets.at(i).get('fileName')?.value }}</span
              >
            </ngx-dropzone-label>
          </ngx-dropzone>
        </td>
        <td class="data-align">
          <ngx-dropzone
            accept=".json"
            (change)="onFilesAdded($event.addedFiles, i, 'jsonMobileFile')"
            [id]="'jsonMobileFile' + i"
          >
            <ngx-dropzone-label
              class="d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-upload ms-auto d-block order-2"></i>
              <span
                *ngIf="assets.at(i).get('fileNameMobile')?.value"
                class="order-1"
                >{{ assets.at(i).get('fileNameMobile')?.value }}</span
              >
            </ngx-dropzone-label>
          </ngx-dropzone>
        </td>
        <td class="data-align">
          <input formControlName="bodyMainClass" class="form-control" />
        </td>
        <td class="data-align">
          <button type="button" (click)="deleteSkin(i)" class="btn btn-xxl">
            <i class="fa-regular fa-circle-xmark fs-4"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
